p{
    height: 250px;
    width: 400px;
    text-align: justify;
    border: 10px solid rgb(0, 179, 255);
    background-color: aqua;
    

    /* padding-top: 10px;
    padding-left: 150px;
    padding-right: 5px;
    padding-bottom: 5px; */
/* 
    padding: 45px; */
    /* padding: -60px; */
/* 
    padding: 5px 20px;
    padding: 5px 20px 15px; */
    padding: 5px 20px 15px 25px;
/* 
    padding: 15px; */

/* 
    margin: 25px;
    margin-left: 35px;
    margin-top: 30px;
    margin-right: 350px;
    margin-bottom: 400px;

    /* margin: 20px 25px 35px; */
   /* margin: 150px 25px 25px 25px; */
    margin: 200px auto;
    margin: auto;
    margin-top: 100px;

    box-shadow: 10px 10px;
    box-shadow: 10px 10px red;
    box-shadow: 10px 10px 5px red;
    box-shadow: 10px 10px 5px 10px red;
    box-shadow: -10px 10px;
    box-shadow: -10px -10px;
    box-shadow: -10px 0;
    box-shadow: 0px 10px;
    box-shadow: 0 0 5px 5px;
    /* inside shadow */
    box-shadow: 0 0 5px 5px red inset;
    box-shadow: 5px 5px 5px 5px red inset;

    /* multiole shadows */
    box-shadow: 10px 10px red,20px 20px blue,30px 30px magenta;

    
    box-shadow: 10px 10px green,-10px -10px blue;


}